<h1> Welcome to the Charlie Food App </h1>
<h2> Click on a name to see some of our favorite foods </h2>

<ul>
  <li><%= link_to 'Jenner', '/jenner' %></li>
  <li><%= link_to 'Austin', '/austin' %></li>
  <li><%= link_to 'Davon', '/davon/Ivan/' %></li>
</ul>
